<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer type="module" src="/src/battle/index.ts"></script>
</head>

<body>
  <div class="capture-container">
    <div class="left-player-container">
      <div class="player-info">
        <div class="player-info-name noita-border">
          <span id="left-player-name" class="left-player-name big-font-size noita-text">Player Name</span>
        </div>
        <div class="player-info-description noita-border">
          <span id="left-player-comment" class="left-player-description noita-text">Player Info</span>
        </div>
      </div>
      <div class="player-display noita-border"></div>
      <div class="left-player-base">

      </div>
    </div>
    <div class="right-player-container">
      <div class="player-info">
        <div class="player-info-name noita-border">
          <span id="right-player-name" class="right-player-name big-font-size noita-text">Player Name</span>
        </div>
        <div class="player-info-description noita-border">
          <span id="right-player-comment" class="right-player-description noita-text">Player Info</span>
        </div>
      </div>
      <div class="player-display noita-border"></div>
      <div class="right-player-base">

      </div>

    </div>
  </div>
  <div class="score-board noita-text">
    <span id="left-player-score" class="score-board-point noita-text">0</span>
    -
    <span id="right-player-score" class="score-board-point noita-text">0</span>
  </div>
</body>

</html>
