@font-face {
	font-family: 'NoitaFont';
	src: url('../fonts/NOITABLACKLETTER-REGULAR.TTF');
}

body {
	font-family: MyFont;
}

* {
  color: white;
  position: absolute;
  font-family: NoitaFont;
}

body {
  background-image: url('../images/background.png');
}

.capture-container {
  margin-top: 80px;
  margin-left: 33px;
  width: 1856px;
  height: 1072px;
}

.left-player-container {
  background-image: url('../images/left-display.png');
  width: 916px;
  height: 1072px;
}

.right-player-container {
  background-image: url('../images/right-display.png');
  width: 916px;
  height: 1072px;
  right: 0;
}

.player-name {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 45px;
  font-weight: bold;
  background: linear-gradient(#ffd170, #ac4b5d);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.player-name::before {
  margin-right: 10px;
}

.left-player-name::before {
  content: url("../images/elk.png");
}

.right-player-name::before {
  content: url("../images/duck.png");
}


