@font-face {
  font-family: "NoitaFont";
  src: url("../resources/fonts/NOITABLACKLETTER-REGULAR.TTF");
}

@font-face {
  font-family: "PixelMplus12RegularFont";
  src: url("../resources/fonts/PixelMplus12-Regular.ttf");
}

@font-face {
  font-family: "Inspiration-Regular";
  src: url("../resources/fonts/Inspiration-Regular.ttf");
}

@font-face {
  font-family: "TurretRoad-EB";
  src: url("../resources/fonts/TurretRoad-ExtraBold.ttf");
}
@font-face {
  font-family: "TurretRoad-B";
  src: url("../resources/fonts/TurretRoad-Bold.ttf");
}
@font-face {
  font-family: "TurretRoad-R";
  src: url("../resources/fonts/TurretRoad-Regular.ttf");
}
@font-face {
  font-family: "TurretRoad-L";
  src: url("../resources/fonts/TurretRoad-Light.ttf");
}
@font-face {
  font-family: "TurretRoad-EL";
  src: url("../resources/fonts/TurretRoad-ExtraLight.ttf");
}

body {
  width: 1920px;
  height: 1080px;
  background-image: url("../resources/images/background.png");
  overflow: hidden;
}

* {
  color: white;
  font-family: PixelMplus12RegularFont;
}

.noita-border {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(140, 121, 95);
  box-sizing: border-box;
  background-color: rgba(27, 22, 27, 0.637);
}

.noita-text {
  font-weight: bold;
  background: linear-gradient(#ffd170, #ac4b5d);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /* vertical-align: top; */
}

.big-font-size {
  font-size: 45px;
}

.medium-font-size {
  font-size: 30px;
}
